---
#
# Ansible managed
#

name: "TODO 2 Issue"

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
    tags_ignore:
      - '*'

permissions: write-all

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@v4.10" # TODO: Update buluma/todo-to-issue-action@v1.0.1 @buluma
        id: "todo"
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
